.tableContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
}

@media (max-width: 768px) {
  .tableContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}